

body {
    background-image: url("https://wallpaperplay.com/walls/full/8/a/1/141209.jpg");
    display: contents;
    min-height: 100vh;
    overflow: hidden;
    /* background-size: 100% 100%; */
}


.title{
    color:rgb(205, 15, 15);
    text-align: center;
    font-family: 'Butcherman', cursive;
    font-size: 120px;
    margin: -10px;
    /* position: relative; */
}

.title:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


.mainContainer{
  margin-top: 1.2rem;
}

.container {
    display: inline-flex;
    /* flex-direction: row; */
    /* justify-content: space-around; */
    margin: 40px 20px 0 50px;
    position: relative;


  }

.card {
    position: relative;
    height: 470px;
    width: 200px;
    transition: transform 1s;
    transform-style: preserve-3d;
    flex-grow: 5;    
  }

  .rotate{
    transform: rotateY(180deg);

  }
/* .card:hover {
    transform: rotateY(180deg);
} */

.front-card{
    position: absolute;
    background-color: rgb(205, 15, 15);
    height: 360px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    backface-visibility: hidden;

}
  
.back-card{
    position: absolute;
    height: 370px;
    width: 200px;
    /* background-color: rgb(205, 15, 15); */
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

#movie_title{
  color: rgb(0, 0, 0);
  margin: 10px 0 0 0;
}

#release_year{
    margin: 20px 0 29px 0;
}

#pic{
height: 250px;
width: 200px;
/* margin: 0 10px 0 20px; */
}

#sum{
    /* margin: 12px 0 0 0; */
    color: rgb(243, 54, 54);
    font-size: 18px;
    margin: auto;
}

.em.em---1{
    margin: -10px 0 10px 0;
}


#likes{
position: relative;
bottom: 5px;
padding-left: 0.4rem;
}



/* navbar */

#audio{
  float: right;
}

/* .dropdownMenu {
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  margin: -50px -10px 30px 10px;
}

.dropdownMenu select{
background-color: rgba(230, 14, 14, 0.685);
color: rgb(8, 1, 1);
font-size: inherit;
padding: .5em;
padding-right: 2.5em; 
border: 0;
margin: 0;
border-radius: 3px;
text-indent: 0.01px;
text-overflow: '';
-webkit-appearance: button;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(8, 88, 35);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/* form */

/* .formMainContainer{
  display: none;
} */